* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home-container {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

.app-desc {
  margin-bottom: 2em;
}

.ingredient-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.input-section {
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 1em;
}

.ingredient-input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: .5em;
}

.ingredient-input > span {
  font-weight: bold;
  font-size: 1.25rem;
}

/* CENTER THESE INPUTS AND SELECTS AND SPANS... */

.ingredient-input > input {
  border: 2px solid black;
  border-radius: .5em;
  margin: 0 0 0 1.5em;
  padding: 1em;
}

.ingredient-input > select {
  padding: 1em;
}

.ingredient-input-container > button {
  border: 2px solid black;
  border-radius: .5em;
  background-color: green;
  font-weight: bold;
  color: white;
  padding: 1em;
  cursor: pointer;
}

.ingredient-list-container {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(248, 233, 214);
  margin-block: 2em;
  padding: 1em;
}

.ingredient-list-container > span {
  font-weight: bold;
  margin-block: .25em;
}