* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.master {
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 auto; /* Centers the container horizontally */
}

.home-container {
  border: 1px solid magenta;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1em;
}

.app-desc {
  margin-bottom: 2em;
}

.ingredient-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.input-section {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 1em;
}

.ingredient-input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: .5em;
}

.ingredient-input > span {
  width: 100px;
  text-align: center;
  font-weight: bold;
  font-size: 1.25rem;
}

/* CENTER THESE INPUTS AND SELECTS AND SPANS... */

.ingredient-input > input {
  border: 2px solid black;
  border-radius: .5em;
  margin: 0 0 0 1.5em;
  padding: 1em;
}

.ingredient-input:nth-child(2) > input {
  border-radius: .5em 0 0 .5em;
}

.ingredient-input > select {
  border: 2px solid black;
  border-left: none;
  border-radius: 0 .5em .5em 0;
  text-align: center;
  padding: 1em;
}

.ingredient-input-container > button {
  width: 100%;
  border: 2px solid black;
  border-radius: .5em;
  background-color: green;
  font-weight: bold;
  color: white;
  padding: 1em;
  cursor: pointer;
}

.ingredient-list-container {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgb(248, 233, 214);
  margin-block: 2em;
  padding: 1em;
}

.ingredient-list-container > span {
  font-weight: bold;
  margin-block: .25em;
}

.ingredient {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  font-weight: bold;
}

.ingredient > span:nth-child(1) {
  
}

.ingredient > span:nth-child(2) {
  color: rgb(199, 15, 15);
  font-size: small;
  font-style: italic;
  /* margin-left: 5em; */
  cursor: pointer;
}

.ingredient > span:nth-child(2):hover {
  opacity: .5;
}




.recipe-cards-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  /* flex-wrap: wrap; */
  margin-block: 2em;
  column-gap: 1em;
}

.recipe-card {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: auto;
  width: 400px;
  background-color: rgb(248, 241, 230);
  padding: 1em;
}

.recipe-card > h3 > a {
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  margin-left: 1em;
}

.recipe-tags {
  margin: 0;
}

.recipe-tags > span:nth-child(1) {
  margin-right: 2em;
}

.ingredients-list > p {
  font-weight: bold;
}

.ingredients-list > span {
  font-style: italic;
}

.instructions-list > p:nth-child(1) {
  font-weight: bold;
}






.blue {
  color: blue;
}

.red {
  color: red;
}