* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.layout-container {
  /* border: 1px solid purple; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.layout-container > nav {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 1em;
  column-gap: 3em;
}

.layout-container > nav > a {
  text-decoration: none;
}

.master {
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 auto; /* Centers the container horizontally */
}

.home-container {
  /* border: 1px solid magenta; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 1em 1em 1em;
}

.app-desc {
  margin-bottom: 2em;
}

.ingredient-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.input-section {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 1em;
}

.ingredient-input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: .5em;
}

.ingredient-input > span {
  width: 100px;
  text-align: center;
  font-weight: bold;
  font-size: 1.25rem;
}

.ingredient-input > input {
  border: 2px solid black;
  border-radius: .5em;
  margin: 0 0 0 1.5em;
  padding: 1em;
}

.ingredient-input:nth-child(2) > input {
  border-radius: .5em 0 0 .5em;
}

.ingredient-input > select {
  border: 2px solid black;
  border-left: none;
  border-radius: 0 .5em .5em 0;
  text-align: center;
  padding: 1em;
}

.ingredient-input-container > button {
  width: 50%;
  border: 2px solid black;
  border-radius: .5em;
  background-color: green;
  font-weight: bold;
  color: white;
  padding: 1em;
  cursor: pointer;
}

.ingredient-list-container {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgb(248, 233, 214);
  margin-block: 2em;
  padding: 1em;
}

.ingredient-list-container > span {
  font-weight: bold;
  margin-block: .25em;
}

.ingredient {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  font-weight: bold;
  margin-block: 1em;
}

.ingredient > span:nth-child(2) {
  color: rgb(199, 15, 15);
  font-size: small;
  font-style: italic;
  /* margin-left: 5em; */
  cursor: pointer;
}

.ingredient > span:nth-child(2):hover {
  opacity: .5;
}

#find-recipe-btn {
  width: 50%;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  background-color: green;
  border-radius: .5em;
  border: 1px solid black;
  padding: 1em 1.5em;
  cursor: pointer;
}

#find-recipe-btn:hover {
  opacity: .80;
}

.recipe-container {
  /* border: 1px solid brown; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

legend {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  /* background-color: whitesmoke;
  padding: 1em; */
  margin-top: 2em;
}

legend > span:nth-child(2) {
  margin: 0 3em;
}

.recipe-cards-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  /* flex-wrap: wrap; */
  margin-block: 2em;
  column-gap: 1em;
}

.recipe-card {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: auto;
  width: 400px;
  background-color: rgb(248, 241, 230);
  padding: 1em;
}

.recipe-card > h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.favorite-icon {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 400;
  margin-left: 1em;
  cursor: pointer;
}

.favorite-icon > path {
  height: 100%;
}

.recipe-tags {
  font-weight: bold;
  margin: 0;
}

.recipe-tags > span:nth-child(1) {
  margin-right: 1.5em;
}

.ingredients-list > p {
  font-weight: bold;
}

.ingredients-list > span {
  font-style: italic;
}

.instructions-list > p:nth-child(1) {
  font-weight: bold;
}

#shopping-list-btn {
  font-weight: bold;
  cursor: pointer;
  margin-top: .75em;
  padding: .5em 1em;
}




.saved-recipes-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.no-saved-recipes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shopping-list-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.shopping-list-page > header > h1 {
  margin-bottom: 0;
}

.shopping-list-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  column-gap: 1em;
}

.shopping-list-actions > button {
  width: 25%;
  font-weight: bold;
  cursor: pointer;
  padding: .5em 1em;
}

.no-shopping-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}




.blue {
  color: blue;
}

.red {
  color: red;
}